body{

}
.top_tool {
    text-align: right;
}
.article{
    width: 80%;
    border-right: solid lightgray 1px;
}
.article h2{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: lightgray;
    margin: 0;
}
.article_info{
    display: flex;
    justify-content: right;
    border-bottom: 1px solid gray;
    height: 20px;
    box-sizing: border-box;
    flex:initial;
}
.article_info a{
    text-align: center;
    position: relative;
}
.article_info.member a{
    float: left;
    text-align: center;
    position: relative;
}
.article_content{
    min-height: 500px;
}
.likes{
    text-align: center;
    position: relative;
    bottom: 20px;
}
.writer_tool{
    text-align: right;
    position:relative;
    right: 3%;
    bottom: 10px;
}
.comments{
}
.comments p{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: lightgray;
    line-height: 30px;
    height: 30px;
    margin: 0;
}
.comments.comment_header{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: lightgray;
}
.comments table tbody.comment_header{
    width:100%;
    display:block;
}