<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/ArticleStyle.css?}" type="text/css">
    <title th:text="${article.getTitle()}">게시글</title>
</head>
<body>
    <section class="top_tool">
        <div th:if="${not #strings.isEmpty(memberDto)}">
            <span th:insert="~{/LoginToolHeader :: login_member_header(${memberDto.getName()}, ${memberDto.getId()})}"></span>
        </div>
        <div th:unless="${not #strings.isEmpty(memberDto)}">
            <span th:insert="~{/NotLoginToolHeader :: not_login_header}"></span>
        </div>
    </section>
    <section class="article">
        <h2 th:text="${article.getTitle()}"></h2>
        <span class="article_info">
            <span class="member"><a th:href="@{/member(memberId=${article.getMember().getId()})}" th:text="${article.getMember().getName()}"></a></span>
            <a>추천  |  <span th:text="${article.getLikes()}"></span></a>
            <a>댓글  |  <span th:text="${article.getComments().size()}"></span></a>
            <a>조회수  |  <span th:text="${article.getViewership()}"></span></a>
            <a th:with="datetime=${article.getDateTime()}">작성일 <span th:text="${#temporals.format(datetime, 'yyyy-MM-dd HH:mm:ss')}"></span></a>
        </span>
        <div class="article_content">
            <p th:text="${article.getContent()}"></p>
        </div>
        <div class="likes">
            <form action="/likes" method="post">
                <input type="hidden" id="articleId" name="articleId" th:value="${article.getId()}">
                <button type="submit">추천</button>
            </form>
        </div>
        <div class="writer_tool">
            <button onclick="location.href='/editArticle'">수정</button>
            <button onclick="location.href='/deleteArticle'">삭제</button>
        </div>
    </section>
    <div class="comments">
        <p><b>댓글</b></p>
        <table>
            <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:with="datetime=${comment.getCreatedTime()}" class="comment_header"><a th:text="${comment.getMember().getName()}"></a><a th:text="${#temporals.format(datetime, 'yyyy-MM-dd HH:mm:ss')}"></a></td>
                    <td><a th:text="${comment.getContent()}"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav id="comment_page_index" style="text-align: center">
        <ul class="pagination" th:with="start=${(comments.number/maxPageSize)*maxPageSize+1}, end=(${(comments.totalPages==0)?1:(start+(maxPageSize - 1)<comments.totalPages?start+(maxPageSize - 1):comments.totalPages)})">
            <li th:if="${start>1}">
                <a th:href="@{/article(pageNo=0)}" th:text="'<<'"></a>
            </li>
            <li th:if="${start>1}">
                <a th:href="@{/article(articleId=${article.getId()}, pageNo=${start - maxPageSize})}" th:text="'<'"></a>
            </li>
            <li th:each="page:${#numbers.sequence(start, end)}">
                <a th:text="${page}" th:href="@{/article(articleId=${article.getId()}, pageNo=${page - 1})}"></a>
            </li>
            <li th:if="${end < comments.totalPages}">x
                <a th:href="@{/article(articleId=${article.getId()}, pageNo=${start+maxPageSize})}" th:text="'>'"></a>
            </li>
            <li>
                <a th:href="@{/article(articleId=${article.getId()}, pageNo=${comments.totalPages - 1}  )}" th:text="'>>'"></a>
            </li>
        </ul>
    </nav>
</body>
</html>