<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/ArticleStyle.css?}" type="text/css">
    <title>수정</title>
</head>
<body>
<section class="top_tool">
    <div th:if="${not #strings.isEmpty(memberDto)}">
        <span th:insert="~{/LoginToolHeader :: login_member_header(${memberDto.getName()}, ${memberDto.getId()})}"></span>
    </div>
    <div th:unless="${not #strings.isEmpty(memberDto)}">
        <span th:insert="~{/NotLoginToolHeader :: not_login_header}"></span>
    </div>
</section>
<section class="article">
    <form th:action="@{/articles/{articleId}(articleId=${editArticleDto.getArticleId()})}" th:method="put">
        <label class="article_title">
            <input type="text" name="title" th:value="${editArticleDto.getTitle()}">
        </label>
        <label class="article_content" th:object="${editArticleDto}">
            <input type="text" name="content" th:field="*{content}">
            <input type="hidden" name="editedDate" th:field="*{editedDate}">
            <input type="hidden" name="articleId" th:field="*{articleId}">
            <input type="hidden" name="memberId" th:field="*{memberId}">
        </label>
        <button type="submit">수정</button>
    </form>
</section>

</body>
</html>