<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>친구 리스트</title>
</head>
<body>
    <section class="friends">
        <table>
            <tbody>
            <tr th:each="friend : ${friends}">
                <td class="member-name"><a th:href="@{/member(memberId=${friend.getId()})}"> <span th:text="${friend.getName()}"></span></a></td>
                <td><a th:href="@{/chat(memberId=${friend.getId()})}"><span>일대일대화</span></a></td>
                <td><a th:href="@{/deleteFriend}"><span>친구삭제</span></a></td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>