<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>친구 수락 목록</title>
</head>
<body>
    <section class="top_tool">
        <div th:if="${not #strings.isEmpty(memberDto)}">
            <span th:insert="~{/LoginToolHeader :: login_member_header(${memberDto.getName()}, ${memberDto.getId()})}"></span>
        </div>
        <div th:unless="${not #strings.isEmpty(memberDto)}">
            <span th:insert="~{/NotLoginToolHeader :: not_login_header}"></span>
        </div>
    </section>
    <section class="friends">
        <table>
            <tbody>
            <tr th:each="member : ${members}">
                <td class="member-name"><a th:href="@{/member(memberId=${member.getId()})}"> <span th:text="${member.getName()}"></span></a></td>
                <td><a th:href="@{/acceptFriendship(memberId=${member.getId()})}"><span>친구 수락</span></a></td>
                <td><a th:href="@{/deleteFriendship}"><span>친구삭제</span></a></td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>