<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/LoginToolHeaderStyle.css?after}" type="text/css">
    <title>Title</title>
</head>
<body>
    <header th:fragment="login_member_header (login_name, login_id)">
        <a>안녕하세요, <span th:text="${login_name}"></span>님</a><br>
        <form th:action="@{/members/{memberId}(memberId=${login_id})}" method="get" style="display:inline">
            <button type="submit">마이 페이지</button>
        </form>
        <form th:action="@{/members/{memberId}/friends(memberId=${login_id})}" method="get" style="display:inline">
            <button type="submit">친구</button>
        </form>
        <form action="/logout" method="get" style="display:inline">
            <button type="submit">로그아웃</button>
        </form>
    </header>
</body>
</html>